<h3>Home </h3>
<p>You're logged in with Angular & JWT!!</p>
<div class="row">
    <div class="col-md-6 mt-2 mb-2">
        <nb-card status="primary">
            <nb-card-header><h5 class="text-white">Info</h5></nb-card-header>
            <nb-card-body>
                <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
                <ul *ngIf="userFromApi">
                    <li>{{userFromApi.firstName}} {{userFromApi.lastName}}</li>
                </ul>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-md-6 mt-2 mb-2">
        <nb-card status="success">
            <nb-card-header><h5 class="text-white">Role</h5></nb-card-header>
            <nb-card-body>
                <p>Your role is: <strong>{{currentUser.role}}</strong>.</p>
            </nb-card-body>
        </nb-card>
    </div>
</div>
<p>This page can be accessed by <u>all authenticated users</u>.</p>